body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

footer {
	margin-top: 168px;
}
main {
	text-align: center;
}
header {
	margin: 0px 20px;
}
header ul {
	list-style-type: none;
	text-align: right;
	margin-top: 20px;
}

header li {
	font-size: 13px;
	margin: 0 7px;
}

header li a:hover {
	color: gray;
}

input {
	height: 45px;
	width: 500px;
	padding: 0;
	border: none;
}

nav {
	background-color: whitesmoke;
	border: 0.1px solid gainsboro;
	margin-left: -30px;
}

nav ul {
	list-style-type: none;
	text-align: left;
}

nav li {
	font-size: 14px;
	margin: 0 7px;
}

li {
	color: #696969;
	display: inline-block;
}

li:hover {
	text-decoration: underline;
}
.right-side {
	display: inline;
	margin-left: 950px;
}

.top-nav {
	text-decoration: none;
	color: black;
}

.profile a {
	border-radius: 100%;
	background-color: #654321;
	color: white !important;
	padding: 6px 10px;
	font-size: 16px;
}

.profile a:hover {
	text-decoration: none;
}

.buttons a {
	display: inline;
	text-decoration: none;
	color: gray;
	background-color: whitesmoke;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

.buttons a:hover {
	border: 1px solid gray;
	color: black;
	background-color: #f9f9f9;
}

.buttons {
	margin-bottom: 50px;
}

.language {
	font-size: 14px;
}

.language a {
	text-decoration: none;
}
.language a:hover {
	text-decoration: underline;
}

.location {
	text-align: left;
	background-color: whitesmoke;
	border: 1px solid gainsboro;
	color: gray;
}

.location p {
	margin-left: 18px;
	font-size: 15px;
}
.search {
	border: 1px solid gainsboro;
	border-radius: 40px;
	margin: 0px 475px;
	margin-bottom: 40px;
}

.search:hover {
	box-shadow: 1px 1px 5px gainsboro;
}

#search-logo {
	height: 17px;
	width: 17px;
	position: relative;
	top: 5px;
	right: 5px;
}

#voice-logo {
	height: 17px;
	width: 17px;
	position: relative;
	top: 5px;
	left: 5px;
}

#dots {
	height: 16px;
	width: 16px;
}

#logo {
	margin-bottom: 30px;
	margin-top: 100px;
}
