body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: gainsboro;
	margin: 0;
}
.header {
	margin: 0px;
	position: relative;
	top: 150px;
}

main {
	position: relative;
	top: 150px;
}

h1 {
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
	margin: 5px;
}

h2 {
	font-weight: bold;
	color: white;
}

.navegation p {
	color: white;
	text-align: center;
	position: relative;
	bottom: 30px;
	font-weight: bold;
}

ul {
	list-style-type: none;
	text-align: center;
	position: relative;
	right: 80px;
	display: flex;
	justify-content: space-evenly;
	width: 75;
}

header {
	background-color: black;
	padding: 30px;
	margin: auto;
	width: 100%;
	position: fixed;
	z-index: 1;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: gainsboro;
}

.navegation li {
	/*display: inline-block;
	margin-right: 100px;
	margin-left: 100px;
	position: relative;
	left: 50px;*/
}

#brushes h2 {
	background-color: mediumspringgreen;
}

#brushes p {
	width: 400px;
	text-align: justify;
}

#frames h2 {
	background-color: lightcoral;
}

#paint h2 {
	background-color: skyblue;
}

.price {
	font-weight: bold;
	color: blue;
}
